@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(100, 181, 192);
}
.container .form {
  max-width: 350px;
  padding: 20px;
  /* background-color: rgb(186, 170, 170); */
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
}

input {
  display: block;
  border: 1px solid rgb(5, 99, 99);
  padding: 12px 20px;
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(143, 223, 215);
  color: white;
  font-size: 1.1rem;
}
::placeholder {
  font-size: 1.2rem;
  padding: 10px 0;
  text-align: center;
}
button {
  background-color: #daf0f6;
  width: 100%;
  padding: 8px 20px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: rgb(4, 55, 61);
  font-family: "Open Sans", sans-serif;
}
h1 {
  position: absolute;
  font-size: 3rem;
  letter-spacing: 1.2px;
  top: 30%;
  color: #daf0f6;
  font-family: "Open Sans", sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 3rem;
  color: Blue;
}
